repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --show-source
          - --show-fixes
          - --verbose
      - id: ruff-format # formatter
